@import "../../../styles/variables";

.introSection {
  background-color: #232123;
  .wrapper {
    height: 700px;
    max-height: 700px;
    padding: 6vh 8% 100px 8%;
    background: #111;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
    @media screen and (min-width: 765px) {
      padding: 10vh 8% 100px 8%;
    }

    .profilePicture {
      position: absolute;
      width: auto;
      max-height: 45%;
      right: 0px;
      height: auto;
      bottom: 0px;

      @media screen and (min-width: 400px) {
        max-height: 50%;
      }

      @media screen and (min-width: 700px) {
        max-height: 60%;
      }

      @media screen and (min-width: 1000px) {
        max-height: 70%;
      }

      @media screen and (min-width: 1300px) {
        max-height: 80%;
      }

      @media screen and (min-width: 1500px) {
        max-height: 90%;
      }
    }

    .content {
      position: relative;
      text-align: left;
      align-items: flex-start;
      flex-direction: column;
      justify-content: flex-start;
      padding-top: 10%;
      gap: 6vh;
      z-index: 10;

      h1 {
        color: #fff;
      }

      @media screen and (min-width: 400px) {
        padding-top: 20%;
      }

      @media screen and (min-width: 765px) {
        padding-top: 0;
        justify-content: center;
      }
    }

    .heading {
      @include debug-bckground;
      @media screen and (min-width: 400px) {
        max-width: 340px;
      }

      @media screen and (min-width: 510px) {
        max-width: 440px;
      }

      @media screen and (min-width: 765px) {
        max-width: 600px;
      }

      @media screen and (min-width: 1000px) {
        max-width: 700px;
      }

      @media screen and (min-width: 1200px) {
        max-width: 800px;
      }
    }
  }
}
