@import "../../../styles/variables";

.portfolioSection {
  background-color: #fff;

  .wrapper {
    .content {
      .portfolioText {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        gap: 40px;

        @media screen and (min-width: 765px) {
          text-align: left;
        }
      }
    }
  }
}
