@import "../../../styles/variables";

.aboutSection {
  background-color: #fff;
  .wrapper {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 90%, 0 100%);
    background-color: #232123;
    padding: 50px 30px 120px 30px;

    @media screen and (min-width: 768px) {
      padding: 50px 50px 120px 50px;
    }

    .content {
      align-items: center;
      justify-content: flex-start;
      color: #fff;
      gap: 50px;

      .aboutText {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        gap: 40px;

        @media screen and (min-width: 765px) {
          text-align: left;

          p {
            font-size: 1.5em;
          }
        }
      }
    }
  }
}
