$shadow: 0px 0px 0px #000;

$defaultTextColour: #353535;
$appBackgroundColour: #fff;
$mobileMenuBackground: #ededed;
$debugColour: rgba(55, 0, 50, 0.8);

$gradient-angle: 45deg;
$default-gutter: 20px;
$border-radius: 5px;

$caption-title-backgournd-color: rgba(10, 10, 10, 0.5);
$caption-body-backgournd-color: rgba(10, 10, 10, 0.5);

$section-break-left-right: polygon(
  0 0,
  100% 0%,
  100% calc(100% - 100px),
  0% 100%
);
$section-break-right-left: polygon(
  0 0,
  100% 0%,
  100% 100%,
  0 calc(100% - 100px)
);

$section-position-service: 0px; //-100px;
$section-position-chasr: 0px; //-200px;
$section-position-fwa: 0px; //-300px;
$section-position-blr: 0px; //-400px;
$section-position-ernest: 0px; //-500px;
$section-position-testimonials: 0px; //-600px;
$section-position-contact: 0px; //-700px;
$section-position-footer: 0px; //-800px;
$main-height-difference: 0px; //800px;

$section-z-index-about: 10;
$section-z-index-services: 9;
$section-z-index-chasr: 8;
$section-z-index-fwa: 7;
$section-z-index-blr: 6;
$section-z-index-ernest: 5;
$section-z-index-testimonials: 4;
$section-z-index-contact: 3;
$section-z-index-footer: 2;

@mixin debug-bckground {
  //border: 1px dotted limegreen;
  //background-blend-mode: multiply;
  //background-color: $debugColour;
  //background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

$chasr-background: linear-gradient(
  $gradient-angle,
  hsl(203.03, 72.26%, 26.86%) 0%,
  hsl(202.86, 67.6%, 27.53%) 8.5%,
  hsl(201.76, 57.92%, 28.98%) 17.2%,
  hsl(198.86, 47.52%, 30.61%) 26%,
  hsl(193.21, 37.66%, 32.21%) 34.8%,
  hsl(183.07, 28.57%, 33.7%) 43.5%,
  hsl(167.45, 24.27%, 36.92%) 51.9%,
  hsl(150.54, 21.91%, 40.61%) 60%,
  hsl(133.28, 20.15%, 44.22%) 67.6%,
  hsl(116.43, 20.26%, 47.14%) 74.7%,
  hsl(104.82, 25.37%, 47.97%) 81.2%,
  hsl(97.46, 30.35%, 48.66%) 86.9%,
  hsl(92.43, 35.21%, 49.21%) 91.7%,
  hsl(88.8, 39.94%, 49.62%) 95.6%,
  hsl(86.09, 44.55%, 49.88%) 98.4%,
  hsl(84, 49.02%, 50%) 100%
);

$footer-background: #010010;

$responsive-width: 900px;
$responsive-section-height: 600px;

$mobile-break: 600px;
$tablet-break: 900px;
$small-desktop-break: 1920px;

// MOBILE LANDSCAPE
@mixin ml {
  @media (min-width: $mobile-break) and (min-aspect-ratio: 1/1) {
    @content;
  }
}

// DESKTOP PORTRAIT
@mixin tl {
  @media (min-width: $mobile-break) and (min-aspect-ratio: 1/1) {
    @content;
  }
}

@mixin tp {
  @media (min-width: $mobile-break) and (max-aspect-ratio: 1/1) {
    @content;
  }
}

// DESKTOP LANDSCAPE
@mixin dl {
  @media (min-width: $tablet-break) and (min-aspect-ratio: 1/1) {
    @content;
  }
}

// DESKTOP LANDSCAPE
@mixin dp {
  @media (min-width: $tablet-break) and (max-aspect-ratio: 1/1) {
    @content;
  }
}

@mixin xl {
  @media (min-width: $small-desktop-break) {
    @content;
  }
}

@mixin mobileBreakX {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin mobileBreakY {
  @media (max-height: 599px) {
    @content;
  }
}

@mixin customWidth($width) {
  @media (min-width: $width) {
    @content;
  }
}
