@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700;900&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-green-500;
  }

  body::after {
    @apply fixed bottom-1 right-1 z-50 bg-gray-900 p-[20px] text-gray-50 content-['sm']  md:content-['md'] lg:content-['lg'] xl:content-['xl'] 2xl:content-['2xl'];
  }

  header {
    @apply h-[50px] w-full;
  }

  section {
    @apply relative pt-20 pb-20;
  }

  footer {
    @apply pt-20 pb-5;
  }

  h1 {
    @apply mb-5 text-6xl font-bold text-yellow-100 md:text-8xl xl:text-8xl 2xl:text-9xl;
  }

  h2 {
    @apply mb-10 text-4xl font-bold;
  }

  h3 {
    @apply mb-5 text-3xl;
  }

  h4 {
    @apply text-2xl font-bold;
  }

  h6 {
    @apply text-sm font-bold;
  }

  p {
    @apply mb-0;
  }

  img {
    @apply h-auto w-full;
  }

  .container {
    @apply mx-auto px-10;
  }

  .curve-shape-fill {
    @apply fill-slate-300;
  }

  .button {
    @apply relative z-[1] inline-block w-fit overflow-hidden rounded-xl bg-amber-400 py-3 px-10 text-gray-900 transition-all duration-300;
    text-decoration: none;
  }

  .button:hover {
    @apply text-green-50;
  }

  .button::after {
    @apply absolute left-0 top-0 z-[-1] h-full w-full origin-top-right scale-x-0 scale-y-100 rounded-xl bg-green-600 transition-all duration-300 content-[''];
    transition: transform 500ms cubic-bezier(0.86, 0, 0.07, 1);
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  .button:hover::after {
    @apply origin-top-left scale-x-100 scale-y-100;
  }

  .tech-stack-logo {
    @apply h-full w-28 fill-gray-600 md:w-[200px] xl:w-28;
  }

  .social-icons {
    @apply h-full w-auto fill-gray-50;
  }
}

h1 strong {
  color: black;
}

strong {
  color: rgba(246, 219, 16, 1);
}

#intro-section,
#testimonials-section,
.project-image {
  background: linear-gradient(
    45deg,
    rgb(49, 45, 80) 0%,
    rgba(27, 120, 55, 1) 50%,
    rgba(246, 219, 16, 1) 100%
  );
}

.gradient-text {
  background: -webkit-linear-gradient(
    45deg,
    rgb(49, 45, 80) 0%,
    rgba(27, 120, 55, 1) 50%,
    rgba(246, 219, 16, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-svg svg {
  fill: -webkit-linear-gradient(
    45deg,
    rgb(49, 45, 80) 0%,
    rgba(27, 120, 55, 1) 50%,
    rgba(246, 219, 16, 1) 100%
  );
}

.custom-shape-divider-top-1672911895 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1672911895 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 67px;
}
